<%- include('inc/header.ejs'); %>


    <div class="container my-2">

        <%- include('./inc/menu.ejs'); %>

            <%- include(`sitePages/${content}`); %>

    </div>

    <%- include('inc/footer.ejs'); %>