

<div class="login">
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <!-- onsubmit="event.preventDefault();" -->
        <form method="post">
            <div class="inputBox">
                <input id="username" type="text" name="username" placeholder="Username">
                <input id="password" type="password" name="password" placeholder="Password">
            </div>
            <input type="submit" name="login" value="Login">
        </form>
        <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: #59238F;">Sign-Up</p>
        </div>

    </div>
</div>

<script>

</script>